---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import Navigation from "../components/astro/Navigation.astro";
import Footer from "../components/astro/Footer.astro";
import "@fpkit/react/styles";
const { pageTitle, pageDescription = "Product Manager & Entrepreneur" } = Astro.props;
import "../styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={pageDescription} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body>
    <Navigation />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
